# DATABASE - info
DB_USER=raizes_user
DB_PASS=raizes2026
DB_HOST=localhost
DB_PORT=5433
DB_NAME=raizes_nordeste

# JWT - hash
JWT_SECRET="sua_chave_secreta_aqui_mude_em_producao"
JWT_EXPIRA_EM="24h"

PORT=3000
NODE_ENV=development
